* {
    box-sizing: border-box;
}

hr {
    margin: 50px 0;
}

input {
    margin-left: 10px;
}

#app button {
    display: block;
    margin: 10px;
}

#keyModifier form div {
    margin: 10px;
}

#keyModifier form small {
    display: block;
}

#keyModifier form pre {
    display: inline-block;
}

#main {
    width: 300px;
    height: 300px;
    border: solid 1px blueviolet;
}

#example input[type="checkbox"] {
    margin-right: 20px;
}

.panel {
    width: 300px;
    text-align: center;
    padding: 50px 0;
}

.panel.red {
    background-color: crimson;
    color: white;
}
.panel.purple {
    background-color: plum;
    color: rebeccapurple;
}
.panel.blue {
    border: solid 1px royalblue;
}

#bind div.big {
    width: 300px;
    height: 300px;
}

#bind div.color {
    background-color: palevioletred;
}

#bind div.frame {
    border: solid 5px purple;
}

[v-cloak] {
    display: none;
}

.v-once {
    width: 150px;
    display: inline-block;
}
